.input {
  padding: 10px 15px;
  background-color: rgb(133, 122, 233);
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  margin: 10px 0;
}
