.card {
  background-color: rgb(117, 182, 199);
  text-align: center;
  padding: 5px;
  margin: 10px;
  height: 400px;
  width: 300px;
  box-shadow: 5px 7px 11px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
  display: inline-block;
}

.card:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 6px 8px 13px;
}
